<!-- Container -->
<div fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutGap="25px">
  <form [formGroup]="searchForm" (ngSubmit)="search(searchForm.value)" fxLayout="column" fxFlex="25%"
        fxLayoutGap="15px">
    <div fxLayout="column">
      <label>Album</label>
      <select formControlName="album">
        <option [ngValue]="album.id" *ngFor="let album of albums">{{album.name}}</option>
      </select>
    </div>
    <div fxLayout="column">
      <label>Motiv</label>
      <input type="text" formControlName="motive" matInput [matAutocomplete]="motive">
    </div>
    <div fxLayout="column">
      <label>Tag</label>
      <fg-chips formControlName="tags" [search]="true"></fg-chips>
    </div>
    <div fxLayout="column">
      <label>Fra Dato</label>
      <!-- <input type="text" formControlName="date_taken"> -->
      <div fxLayout="row" fxLayoutAlign="start">
        <input fxFlex="100" (click)="dpFrom.toggleCalendar()" class="datepicker clickable right-edge" ngx-mydatepicker
               [options]="options"
               #dpFrom="ngx-mydatepicker" formControlName="date_taken_from">
        <button type="button" class="btn btn-info" (click)="dpFrom.toggleCalendar()">
          <i class="fa fa-calendar"></i>
        </button>
      </div>
    </div>
    <div fxLayout="column">
      <label>Til Dato</label>
      <!-- <input type="text" formControlName="date_taken"> -->
      <div fxLayout="row" fxLayoutAlign="start">
        <input fxFlex="100" (click)="dpTo.toggleCalendar()" class="datepicker clickable right-edge" ngx-mydatepicker
               [options]="options"
               #dpTo="ngx-mydatepicker" formControlName="date_taken_to">
        <button type="button" class="btn btn-info" (click)="dpTo.toggleCalendar()">
          <i class="fa fa-calendar"></i>
        </button>
      </div>
    </div>
    <div fxLayout="column">
      <label>Media</label>
      <select formControlName="media">
        <option [ngValue]="media.id" *ngFor="let media of mediums">{{media.name}}</option>
      </select>
    </div>
    <div fxLayout="column">
      <label>Kategori</label>
      <select formControlName="category">
        <option [ngValue]="category.id" *ngFor="let category of categories">{{category.name}}</option>
      </select>
    </div>
    <div fxLayout="column">
      <label>Sted</label>
      <select formControlName="place">
        <option [ngValue]="place.id" *ngFor="let place of places">{{place.name}}</option>
      </select>
    </div>
    <div fxLayout="column">
      <label>Sikkerhetsnivå</label>
      <select formControlName="security_level">
        <option [ngValue]="securityLevel.id" *ngFor="let securityLevel of securityLevels">{{securityLevel.name}}
        </option>
      </select>
    </div>

    <div fxLayout="column">
      <label for="lapel">Oppslagsbilde</label>
      <select formControlName="lapel">
        <option *ngFor="let lapel of truthies" [ngValue]="lapel.value">
          {{lapel.name}}
        </option>
      </select>
    </div>
    <div fxLayout="column">
      <label for="on_home_page">Vises på forsiden</label>
      <select formControlName="on_home_page">
        <option *ngFor="let on_home_page of truthies" [ngValue]="on_home_page.value">
          {{on_home_page.name}}
        </option>
      </select>
    </div>
    <div fxLayout="column">
      <label for="splash">Sett som bannerbilde</label>
      <select formControlName="splash">
        <option *ngFor="let splash of truthies" [ngValue]="splash.value">
          {{splash.name}}
        </option>
      </select>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!searchForm.valid">
      <i class="fa fa-search"></i> Søk
    </button>

    <p>{{searchForm.value | json}}</p>
    <p>{{searchForm.valid | json}}</p>
  </form>

  <!-- Results box -->
  <!--Search view for BIG screens BEGIN-->
  <div>
    <div *ngFor="let photo of response?.results; let i = index">
      <div class="card" *ngIf="this.screenWidth > 700" fxLayout="row" fxLayoutGap="2%">
        <div>
          <img class="card--img clickable hover-outline" (click)="onPhotoClick(i)" [src]="photo?.photo?.small">
        </div>
        <div class="card--info" fxLayout="column" fxLayoutGap="2%">
          <div class="card--info--row" fxLayout="row">
            <label>
              Motiv: {{photo?.motive}}
            </label>
          </div>
          <div class="card--info--row" fxLayout="row" fxLayoutGap="5%">
            <label>
              Album: {{photo?.album.name}}
            </label>
            <label>
              Dato: {{photo?.date_taken | date:'dd.M.yy'}}
            </label>
          </div>
          <div class="card--info--row" fxLayout="row" fxLayoutGap="5%">
            <label>
              Kategori: {{photo?.category.name}}
            </label>
            <label>
              Sted: {{photo?.place.name}}
            </label>
          </div>
          <div class="card--info--row" fxLayout="row" fxLayoutGap="5%">
            <label>
              Rettighet: {{photo?.security_level.name}}
            </label>
            <label>
              Oppslagsbilde: {{photo?.lapel}}
            </label>
            <label>
              Skannet: {{photo?.scanned}}
            </label>
          </div>
        </div>
        <div fxLayout="column" class="card--btns">
          <div class="card--handlers" fxLayout="row" fxLayoutGap="5%" fxFlexAlign="end">
            <a class="btn btn-info" (click)="editSingle(photo.id)" fxFlexAlign="end">Endre</a>
            <a class="btn btn-danger" (click)="delete(photo)" fxFlexAlign="end">Slett</a>
            <!--
            <div class="card--input-group">
              <label [for]="i">Multiedit: </label>
              <input [id]="i" class="card&#45;&#45;checkbox" type="checkbox" (click)="check($event, photo)">
            </div>
              -->
            <div class="card--handlers--multiedit" fxFlexAlign="end">
              <label class="card--handlers--multiedit--label">
                <input class="card--handlers--multiedit--label--checkbox" type="checkbox" (click)="check(photo)"/>
                <span class="card--handlers--multiedit--label--text">
                Rediger flere
                  <span class="card--handlers--multiedit--label--check">
                    <i class="fa fa-check icon"></i>
                  </span>
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <!--Search view for BIG screens END-->
      <!--Search view for SMALL screens BEGIN-->
      <div *ngIf="this.screenWidth <= 700">
        <div class="mobile">
          <img class="mobile--image" [src]="photo?.photo.small" alt="Bilde ikke her">
          <div class="mobile--metadata" fxLayout="column">
            <p>
              <b>Motiv:</b> {{photo?.motive}}
            </p>
            <p>
              <b>Album:</b> {{photo?.album.name}}
            </p>
            <p>
              <b>Dato:</b> {{photo?.date_taken | date:'dd.M.yy'}}
            </p>
            <p>
              <b>Kategori:</b> {{photo?.category.name}}
            </p>
            <p>
              <b>Sted:</b> {{photo?.place.name}}
            </p>
            <p>
              <b>Rettighet:</b> {{photo?.security_level.name}}
            </p>
            <p>
              <b>Oppslagsbilde:</b> {{photo?.lapel}}
            </p>
            <p>
              <b>Skannet:</b> {{photo?.scanned}}
            </p>
          </div>
          <div class="mobile--buttons" fxLayout="row" fxLayoutGap="2%">
            <a class="btn btn-info" (click)="editSingle(photo.id)" fxFlexAlign="end">Endre</a>
            <a class="btn btn-danger" (click)="delete(photo)" fxFlexAlign="end">Slett</a>
            <div class="mobile--buttons--multiedit" fxFlexAlign="end">
              <label class="mobile--buttons--multiedit--label">
                <input class="mobile--buttons--multiedit--label--checkbox" type="checkbox" (click)="check(photo)"/>
                <span class="mobile--buttons--multiedit--label--text">
                Rediger flere
                  <span class="mobile--buttons--multiedit--label--check">
                    <i class="fa fa-check icon"></i>
                  </span>
                </span>
              </label>
          </div>
        </div>
      </div>
      <!--Search view for SMALL screens END-->
    </div>
  </div>


</div>
<div *ngIf="this.response">
  <fg-paginator (newParams)="newParams($event)" [response]="this.response"></fg-paginator>
</div>


<mat-autocomplete #motive="matAutocomplete">
  <mat-option *ngFor="let motive of filteredMotives" [value]="motive">
    {{ motive }}
  </mat-option>
</mat-autocomplete>
