<div id="main container">
  <section class="wrapper style1">
    <div class="inner">
      <!--selecting search conditions-->
      <h1>Album</h1>
      <div fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <form [formGroup]="filterForm" fxLayout="column" fxFlex="15" fxLayoutGap="20px">
          <div fxLayout="column">
              <label>Semester</label>
              <select formControlName="semester">
                <option [ngValue]="semester.id"  *ngFor="let semester of semester">
                  {{ semester.name }}
                </option>
              </select>
          </div>
        </form>
        <div fxFlex="<grow>" fxLayout="column" fxLayoutGap="20px">
        <fg-masonry *ngIf="loaded"  [photos]="photos"></fg-masonry>
        <!--<div *ngFor="let img of smallimg">
          <img [src]="img" />
        </div>-->
        </div>
      </div>
    </div>
  </section>
</div>
